@model IEnumerable<LTQLSinhVien.Models.GiangVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Khoa.TenKhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenGV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaLop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Khoa.TenKhoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenGV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaLop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaGV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaGV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaGV })
        </td>
    </tr>
}

</table>
